@tailwind base;
@tailwind components;
@tailwind utilities;





:root {
   --background: #A8D5BA;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
